[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
charset-normalizer = "*"
cycler = "*"
cython = "*"
fonttools = "*"
gitdb = "*"
gitpython = "*"
idna = "*"
kiwisolver = "*"
matplotlib = "*"
numpy = "*"
pillow = "*"
pycocotools = {subdirectory = "PythonAPI", git = "https://github.com/philferriere/cocoapi.git"}
pyparsing = "*"
python-dateutil = "*"
requests = "*"
six = "*"
smmap = "*"
torch = "*"
torchvision = "*"
typing-extensions = "*"
urllib3 = "*"

[dev-packages]

[requires]
python_version = "3.9"
